{% extends "slideshow_base.html" %}

{% block slideshow_content %}
    <div id="slideshow-container">
      <div id="slideshow-stage">
        <div class="slideshow-frame">
          <div
            class="slideshow-canvas"
            data-base-width="1920"
            data-base-height="1080"
          >
            <div id="media-wrapper"></div>
            <div id="slideshow-overlay" hidden>
              <span id="slideshow-status"></span>
            </div>
            <div id="slideshow-brand" hidden>
              <img id="overlay-logo" alt="Logo Cardinal" />
              <div id="overlay-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
{% endblock %}
