{% extends "base.html" %}

{% block head_extra %}
  {% set media_editor_css_url = url_for('static', filename='css/media_editor.css') ~ '?v=20260710-01' %}
  {% if defer_admin_css|default(false) %}
    <link rel="preload" href="{{ media_editor_css_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="{{ media_editor_css_url }}" /></noscript>
  {% else %}
    <link rel="stylesheet" href="{{ media_editor_css_url }}" />
  {% endif %}
  {{ super() }}
{% endblock %}

{% block body_class %}diaporama-page{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/editor_toggles.js') }}"></script>
  {{ super() }}
{% endblock %}
