{% extends "slideshow_base.html" %}

{% block slideshow_content %}
    <div id="slideshow-container">
      <!-- Info bands (hidden by default, shown via JS if enabled) -->
      <div id="info-band-horizontal" class="info-band info-band-horizontal" hidden></div>
      <div id="info-band-vertical" class="info-band info-band-vertical" hidden></div>
      
      <div id="slideshow-stage">
        <div class="slideshow-frame">
          <div
            class="slideshow-canvas"
            data-base-width="1920"
            data-base-height="1080"
          >
            <div id="media-wrapper"></div>
            <div id="slideshow-overlay" hidden>
              <span id="slideshow-status"></span>
            </div>
          </div>
        </div>
      </div>
      <div id="info-bands-widgets" class="info-bands-widgets" hidden></div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <!-- Performance Manager : DOIT être chargé AVANT slideshow.js -->
    <script src="{{ url_for('static', filename='js/performance_manager.js') }}?v=20260205-10"></script>
    <script src="{{ url_for('static', filename='js/slideshow/constants.js') }}?v=20260205-10"></script>
    <script src="{{ url_for('static', filename='js/slideshow/birthday_config.js') }}?v=20260205-10"></script>
    <script src="{{ url_for('static', filename='js/slideshow_cache.js') }}?v=20260205-10"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}?v=20260207-18"></script>
{% endblock %}
